button {
    font-family: Arial, Helvetica, sans-serif;
    background-color: red;
    font-size: 50px;
    border-radius: 50px;
    border: 10px;
        }
button:hover {
    background-color: blue;
}
h1 {
    font-family: sans-serif;
}
h3 {
    font-family: sans-serif;
    border: 10px solid gray;
    border-radius: 10px;
}
